<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="happyComponent" class="com.fengxin.ioc_03.HappyComponent"/>
<!--    配置两个或者以上出现: org.springframework.beans.factory.NoUniqueBeanDefinitionException 问题-->
<!--    <bean id="happyComponent2" class="com.fengxin.ioc_03.HappyComponent"/>-->
</beans>
