<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    id:工厂getObject返回实例对象的标识-->
<!--    这里的class虽然是工厂  但是将来获取的实例是调用 工厂方法 返回JavaBean的实例-->
    <bean id="javaBean" class="com.fengxin.ioc_05.JavaBeanFactory">
<!--        配置javaBean属性-->
        <property name="name" value="枫"/>
    </bean>
</beans>